.vscode

**/node_modules
**/dist

releases
server/dist/**
server/build/**

server/**/__pycache__
server/temp
server/lenna.png

# Optional eslint cache
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
