@import './variables.css';
@import './utils.css';
@import './views';
@import './components/ModeList.css';
@import './components/ProcessingWizard/ProcessingWizardUploadForm.css';

#app {
  height: 100vh;
  width: 100vw;
  color: rgba(0, 0, 0, 0.85);
}

.app-view {
  height: 100%;
}

.ant-layout {
  background-color: var(--antd-white);
}

.wizard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;

  &-steps {
    padding-bottom: 10px;
  }

  &-step-preview {
    flex: 1;
  }

  &-step-params {
    flex: 1;
  }

  & .wizard-upload--preview {
    padding-bottom: 30px;
  }

  & .form-uploadField {
    padding-bottom: 10px;
  }

  & .steps-content {
    flex-grow: 2;
  }
}
