:root {
  --antd-white: #fff;
  --antd-blue-01: #e6f7ff;
  --antd-blue-02: #bae7ff;
  --antd-blue-03: #91d5ff;
  --antd-blue-04: #69c0ff;
  --antd-blue-05: #40a9ff;
  --antd-blue-06: #1890ff;
  --antd-blue-07: #096dd9;
  --antd-blue-08: #0050b3;
  --antd-blue-09: #003a8c;
  --antd-blue-10: #002766;
}
